/* You can add global styles to this file, and also import other style files */
body{
  background-color: grey;
  color: rgb(10, 223, 194);
}
button{
  background-color: beige;
  color: rgb(17, 13, 2);
}
.container{
  margin-top: 30px;
}
p{
  color:rgb(41, 10, 218);
}
